<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_8zdfMNGXEemni-8RhNhyeA" specification="interface Monitor:&#xA;&#x9;out event warning&#xA;&#x9;out event selfsteering&#xA;&#x9;out event loa&#xA;&#xA;interface S1HW:&#xA;&#x9;in event det&#xA;&#x9;in event latent&#xA;&#x9;&#xA;interface S2HW:&#xA;&#x9;in event det&#xA;&#x9;in event latent&#xA;&#x9;&#xA;interface S3HW:&#xA;&#x9;in event det&#xA;&#x9;in event latent&#xA;&#x9;&#xA;interface UCHW:&#xA;&#x9;in event shutdown&#xA;&#x9;&#xA;&#xA;internal:&#xA;&#x9;var onsensors:integer&#xA;&#x9;var oksensors:integer&#xA;&#x9;var offsensors:integer&#xA;&#x9;var latentsensors:integer" name="Mainctrl">
    <regions xmi:id="_8zeGSdGXEemni-8RhNhyeA" name="main region">
      <vertices xsi:type="sgraph:State" xmi:id="_mTrYkNU-Eemxm9eGinoW5Q" name="main" incomingTransitions="_u2OocNU-Eemxm9eGinoW5Q">
        <regions xmi:id="_mTr_oNU-Eemxm9eGinoW5Q" name="operation">
          <vertices xsi:type="sgraph:State" xmi:id="_pwCKsNU-Eemxm9eGinoW5Q" specification="entry / raise Monitor.loa" name="Off" incomingTransitions="_1oWDMNVDEemxm9eGinoW5Q"/>
          <vertices xsi:type="sgraph:Choice" xmi:id="_zi714NVDEemxm9eGinoW5Q" incomingTransitions="_vLDPoNVDEemxm9eGinoW5Q">
            <outgoingTransitions xmi:id="_1oWDMNVDEemxm9eGinoW5Q" specification="[0==onsensors]" target="_pwCKsNU-Eemxm9eGinoW5Q"/>
            <outgoingTransitions xmi:id="__Wx3YNVDEemxm9eGinoW5Q" specification="default" target="_pwA8kNU-Eemxm9eGinoW5Q"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_unCuMNVEEemxm9eGinoW5Q" name="On" incomingTransitions="_GHL-wNVFEemxm9eGinoW5Q">
            <outgoingTransitions xmi:id="_vLDPoNVDEemxm9eGinoW5Q" specification="S1HW.det,&#xA;S2HW.det,&#xA;S3HW.det / onsensors-=1;&#xA;oksensors-=1" target="_zi714NVDEemxm9eGinoW5Q"/>
            <regions xmi:id="_unCuM9VEEemxm9eGinoW5Q" name="r1">
              <vertices xsi:type="sgraph:Entry" xmi:id="_pv95QNU-Eemxm9eGinoW5Q">
                <outgoingTransitions xmi:id="_FNDehNVVEemvGJPGARiGeg" target="_pv-gUNU-Eemxm9eGinoW5Q"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_pv-gUNU-Eemxm9eGinoW5Q" name="NormalOperation" incomingTransitions="_FNDehNVVEemvGJPGARiGeg">
                <outgoingTransitions xmi:id="_4ttZANVAEemxm9eGinoW5Q" specification="S1HW.det" target="_pwA8kNU-Eemxm9eGinoW5Q"/>
                <outgoingTransitions xmi:id="_NwTCANVBEemxm9eGinoW5Q" specification="S2HW.det" target="_pwA8kNU-Eemxm9eGinoW5Q"/>
                <outgoingTransitions xmi:id="_Q812gNVBEemxm9eGinoW5Q" specification="S3HW.det" target="_pwA8kNU-Eemxm9eGinoW5Q"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_pwA8kNU-Eemxm9eGinoW5Q" specification="entry/&#xA;raise Monitor.warning" name="Warning" incomingTransitions="_4ttZANVAEemxm9eGinoW5Q _NwTCANVBEemxm9eGinoW5Q _Q812gNVBEemxm9eGinoW5Q __Wx3YNVDEemxm9eGinoW5Q"/>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_Fayy0NVFEemxm9eGinoW5Q">
            <outgoingTransitions xmi:id="_GHL-wNVFEemxm9eGinoW5Q" specification="" target="_unCuMNVEEemxm9eGinoW5Q"/>
          </vertices>
        </regions>
        <regions xmi:id="_mTr_odU-Eemxm9eGinoW5Q" name="evaluation">
          <vertices xsi:type="sgraph:Entry" xmi:id="_yaZSwNU-Eemxm9eGinoW5Q">
            <outgoingTransitions xmi:id="_DH3VoNU_Eemxm9eGinoW5Q" specification="" target="_9eiVoNU-Eemxm9eGinoW5Q"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_9eiVoNU-Eemxm9eGinoW5Q" name="working" incomingTransitions="_DH3VoNU_Eemxm9eGinoW5Q _Tju44NVEEemxm9eGinoW5Q">
            <outgoingTransitions xmi:id="_IuHPoNVDEemxm9eGinoW5Q" specification="S1HW.latent,&#xA;S2HW.latent,&#xA;S3HW.latent /&#xA;latentsensors+=1;&#xA;oksensors-=1" target="_IJp3sNVDEemxm9eGinoW5Q"/>
            <outgoingTransitions xmi:id="_qZ9CsNVEEemxm9eGinoW5Q" specification="UCHW.shutdown" target="_FnRXUNU_Eemxm9eGinoW5Q"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_FnRXUNU_Eemxm9eGinoW5Q" specification="entry / raise Monitor.loa" name="ShutdownState" incomingTransitions="_qZ9CsNVEEemxm9eGinoW5Q"/>
          <vertices xsi:type="sgraph:State" xmi:id="_G0q-kNU_Eemxm9eGinoW5Q" specification="entry / raise Monitor.selfsteering" name="SelfSteeringState" incomingTransitions="_dMxsMNVDEemxm9eGinoW5Q"/>
          <vertices xsi:type="sgraph:Choice" xmi:id="_IJp3sNVDEemxm9eGinoW5Q" incomingTransitions="_IuHPoNVDEemxm9eGinoW5Q">
            <outgoingTransitions xmi:id="_dMxsMNVDEemxm9eGinoW5Q" specification="[latentsensors>=oksensors]/&#xA;&#x9;raise Monitor.selfsteering" target="_G0q-kNU_Eemxm9eGinoW5Q"/>
            <outgoingTransitions xmi:id="_Tju44NVEEemxm9eGinoW5Q" specification="default" target="_9eiVoNU-Eemxm9eGinoW5Q"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_udle8NU-Eemxm9eGinoW5Q">
        <outgoingTransitions xmi:id="_u2OocNU-Eemxm9eGinoW5Q" specification="/onsensors=3;&#xA;oksensors=3;&#xA;offsensors=0" target="_mTrYkNU-Eemxm9eGinoW5Q"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_8zeGRtGXEemni-8RhNhyeA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_8zdfMNGXEemni-8RhNhyeA" measurementUnit="Pixel">
    <children xmi:id="_8zetUNGXEemni-8RhNhyeA" type="Region" element="_8zeGSdGXEemni-8RhNhyeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_8zetU9GXEemni-8RhNhyeA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8zetVNGXEemni-8RhNhyeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8zetVdGXEemni-8RhNhyeA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_8zfUYNGXEemni-8RhNhyeA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_mTtNwNU-Eemxm9eGinoW5Q" type="State" element="_mTrYkNU-Eemxm9eGinoW5Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_mTt00NU-Eemxm9eGinoW5Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_mTt00dU-Eemxm9eGinoW5Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_mTt00tU-Eemxm9eGinoW5Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_mTt009U-Eemxm9eGinoW5Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_mTub4NU-Eemxm9eGinoW5Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mTub4dU-Eemxm9eGinoW5Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_mTub4tU-Eemxm9eGinoW5Q" type="StateFigureCompartment">
            <children xmi:id="_mTxfMNU-Eemxm9eGinoW5Q" type="Region" element="_mTr_oNU-Eemxm9eGinoW5Q">
              <children xsi:type="notation:DecorationNode" xmi:id="_mTyGQNU-Eemxm9eGinoW5Q" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_mTyGQdU-Eemxm9eGinoW5Q"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_mTyGQtU-Eemxm9eGinoW5Q"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_mTyGQ9U-Eemxm9eGinoW5Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_pv9SMNU-Eemxm9eGinoW5Q" type="State" element="_pwCKsNU-Eemxm9eGinoW5Q">
                  <children xsi:type="notation:DecorationNode" xmi:id="_pv9SMdU-Eemxm9eGinoW5Q" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_pv9SMtU-Eemxm9eGinoW5Q"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_pv9SM9U-Eemxm9eGinoW5Q"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_pv9SNNU-Eemxm9eGinoW5Q" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_pv9SNdU-Eemxm9eGinoW5Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pv9SNtU-Eemxm9eGinoW5Q"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_pv9SN9U-Eemxm9eGinoW5Q" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_pv9SONU-Eemxm9eGinoW5Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_pv9SOdU-Eemxm9eGinoW5Q"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pv9SOtU-Eemxm9eGinoW5Q" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pv9SO9U-Eemxm9eGinoW5Q" x="140" y="568" width="579" height="80"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_zi8c8NVDEemxm9eGinoW5Q" type="Choice" element="_zi714NVDEemxm9eGinoW5Q" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zi8c8dVDEemxm9eGinoW5Q" x="418" y="503" width="17" height="16"/>
                </children>
                <children xmi:id="_unD8UNVEEemxm9eGinoW5Q" type="State" element="_unCuMNVEEemxm9eGinoW5Q">
                  <children xsi:type="notation:DecorationNode" xmi:id="_unEjYNVEEemxm9eGinoW5Q" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_unEjYdVEEemxm9eGinoW5Q"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_unEjYtVEEemxm9eGinoW5Q"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_unEjY9VEEemxm9eGinoW5Q" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_unEjZNVEEemxm9eGinoW5Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_unEjZdVEEemxm9eGinoW5Q"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_unEjZtVEEemxm9eGinoW5Q" type="StateFigureCompartment">
                    <children xmi:id="_unG_oNVEEemxm9eGinoW5Q" type="Region" element="_unCuM9VEEemxm9eGinoW5Q">
                      <children xsi:type="notation:DecorationNode" xmi:id="_unHmsNVEEemxm9eGinoW5Q" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_unHmsdVEEemxm9eGinoW5Q"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_unHmstVEEemxm9eGinoW5Q"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_unHms9VEEemxm9eGinoW5Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_pv8EENU-Eemxm9eGinoW5Q" type="Entry" element="_pv95QNU-Eemxm9eGinoW5Q">
                          <children xmi:id="_pv8EEdU-Eemxm9eGinoW5Q" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_pv8EEtU-Eemxm9eGinoW5Q" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_pv8EE9U-Eemxm9eGinoW5Q"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_pv8EFNU-Eemxm9eGinoW5Q"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_pv8EFdU-Eemxm9eGinoW5Q" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pv8EFtU-Eemxm9eGinoW5Q"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_pv8EF9U-Eemxm9eGinoW5Q" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_pv8EGNU-Eemxm9eGinoW5Q" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pv8EGdU-Eemxm9eGinoW5Q" x="73" y="-145"/>
                        </children>
                        <children xmi:id="_pv8rINU-Eemxm9eGinoW5Q" type="State" element="_pv-gUNU-Eemxm9eGinoW5Q">
                          <children xsi:type="notation:DecorationNode" xmi:id="_pv8rIdU-Eemxm9eGinoW5Q" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_pv8rItU-Eemxm9eGinoW5Q"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_pv8rI9U-Eemxm9eGinoW5Q"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_pv8rJNU-Eemxm9eGinoW5Q" type="StateTextCompartment" collapsed="true">
                            <children xsi:type="notation:Shape" xmi:id="_pv8rJdU-Eemxm9eGinoW5Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pv8rJtU-Eemxm9eGinoW5Q"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_pv8rJ9U-Eemxm9eGinoW5Q" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_pv8rKNU-Eemxm9eGinoW5Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_pv8rKdU-Eemxm9eGinoW5Q"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pv8rKtU-Eemxm9eGinoW5Q" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pv8rK9U-Eemxm9eGinoW5Q" x="23" y="-93" width="512" height="55"/>
                        </children>
                        <children xmi:id="_pv8rLNU-Eemxm9eGinoW5Q" type="State" element="_pwA8kNU-Eemxm9eGinoW5Q">
                          <children xsi:type="notation:DecorationNode" xmi:id="_pv8rLdU-Eemxm9eGinoW5Q" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_pv8rLtU-Eemxm9eGinoW5Q"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_pv8rL9U-Eemxm9eGinoW5Q"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_pv8rMNU-Eemxm9eGinoW5Q" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_pv8rMdU-Eemxm9eGinoW5Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pv8rMtU-Eemxm9eGinoW5Q"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_pv8rM9U-Eemxm9eGinoW5Q" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_pv8rNNU-Eemxm9eGinoW5Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_pv8rNdU-Eemxm9eGinoW5Q"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pv8rNtU-Eemxm9eGinoW5Q" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pv8rN9U-Eemxm9eGinoW5Q" x="47" y="58" width="500" height="68"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_unHmtNVEEemxm9eGinoW5Q"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_unG_odVEEemxm9eGinoW5Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_unG_otVEEemxm9eGinoW5Q"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_unD8UdVEEemxm9eGinoW5Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_unD8UtVEEemxm9eGinoW5Q"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_unEjZ9VEEemxm9eGinoW5Q" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_unD8U9VEEemxm9eGinoW5Q" x="128" y="6" width="592" height="398"/>
                </children>
                <children xmi:id="_FazZ4NVFEemxm9eGinoW5Q" type="Entry" element="_Fayy0NVFEemxm9eGinoW5Q">
                  <children xmi:id="_FazZ5NVFEemxm9eGinoW5Q" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_Fa0A8tVFEemxm9eGinoW5Q" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_Fa0A89VFEemxm9eGinoW5Q"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_Fa0A9NVFEemxm9eGinoW5Q"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Fa0A8NVFEemxm9eGinoW5Q" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Fa0A8dVFEemxm9eGinoW5Q"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_FazZ4dVFEemxm9eGinoW5Q" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_FazZ4tVFEemxm9eGinoW5Q" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FazZ49VFEemxm9eGinoW5Q" x="29" y="21"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mTyGRNU-Eemxm9eGinoW5Q"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_mTxfMdU-Eemxm9eGinoW5Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mTxfMtU-Eemxm9eGinoW5Q"/>
            </children>
            <children xmi:id="_9fO8YNVCEemxm9eGinoW5Q" type="Region" element="_mTr_odU-Eemxm9eGinoW5Q">
              <children xsi:type="notation:DecorationNode" xmi:id="_9fO8YdVCEemxm9eGinoW5Q" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_9fO8YtVCEemxm9eGinoW5Q"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_9fO8Y9VCEemxm9eGinoW5Q"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_9fO8ZNVCEemxm9eGinoW5Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_9fO8ZdVCEemxm9eGinoW5Q" type="Entry" element="_yaZSwNU-Eemxm9eGinoW5Q">
                  <children xmi:id="_9fO8ZtVCEemxm9eGinoW5Q" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_9fO8Z9VCEemxm9eGinoW5Q" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_9fO8aNVCEemxm9eGinoW5Q"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_9fO8adVCEemxm9eGinoW5Q"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_9fO8atVCEemxm9eGinoW5Q" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9fO8a9VCEemxm9eGinoW5Q"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_9fO8bNVCEemxm9eGinoW5Q" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_9fO8bdVCEemxm9eGinoW5Q" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9fO8btVCEemxm9eGinoW5Q" x="9" y="25"/>
                </children>
                <children xmi:id="_9fO8b9VCEemxm9eGinoW5Q" type="State" element="_9eiVoNU-Eemxm9eGinoW5Q">
                  <children xsi:type="notation:DecorationNode" xmi:id="_9fO8cNVCEemxm9eGinoW5Q" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_9fO8cdVCEemxm9eGinoW5Q"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_9fO8ctVCEemxm9eGinoW5Q"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_9fO8c9VCEemxm9eGinoW5Q" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_9fO8dNVCEemxm9eGinoW5Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9fO8ddVCEemxm9eGinoW5Q"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_9fO8dtVCEemxm9eGinoW5Q" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_9fO8d9VCEemxm9eGinoW5Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_9fO8eNVCEemxm9eGinoW5Q"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_9fO8edVCEemxm9eGinoW5Q" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9fO8etVCEemxm9eGinoW5Q" x="12" y="81"/>
                </children>
                <children xmi:id="_9fO8e9VCEemxm9eGinoW5Q" type="State" element="_FnRXUNU_Eemxm9eGinoW5Q">
                  <children xsi:type="notation:DecorationNode" xmi:id="_9fO8fNVCEemxm9eGinoW5Q" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_9fO8fdVCEemxm9eGinoW5Q"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_9fO8ftVCEemxm9eGinoW5Q"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_9fO8f9VCEemxm9eGinoW5Q" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_9fO8gNVCEemxm9eGinoW5Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9fO8gdVCEemxm9eGinoW5Q"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_9fO8gtVCEemxm9eGinoW5Q" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_9fO8g9VCEemxm9eGinoW5Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_9fO8hNVCEemxm9eGinoW5Q"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_9fO8hdVCEemxm9eGinoW5Q" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9fO8htVCEemxm9eGinoW5Q" x="168" y="321"/>
                </children>
                <children xmi:id="_9fO8h9VCEemxm9eGinoW5Q" type="State" element="_G0q-kNU_Eemxm9eGinoW5Q">
                  <children xsi:type="notation:DecorationNode" xmi:id="_9fO8iNVCEemxm9eGinoW5Q" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_9fO8idVCEemxm9eGinoW5Q"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_9fO8itVCEemxm9eGinoW5Q"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_9fO8i9VCEemxm9eGinoW5Q" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_9fO8jNVCEemxm9eGinoW5Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9fO8jdVCEemxm9eGinoW5Q"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_9fO8jtVCEemxm9eGinoW5Q" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_9fO8j9VCEemxm9eGinoW5Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_9fO8kNVCEemxm9eGinoW5Q"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_9fO8kdVCEemxm9eGinoW5Q" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9fO8ktVCEemxm9eGinoW5Q" x="-9" y="386" width="231" height="53"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_IJrF0NVDEemxm9eGinoW5Q" type="Choice" element="_IJp3sNVDEemxm9eGinoW5Q" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IJrF0dVDEemxm9eGinoW5Q" x="23" y="243"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9fO8ldVCEemxm9eGinoW5Q"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_9fO8ltVCEemxm9eGinoW5Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9fO8l9VCEemxm9eGinoW5Q"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_mTtNwdU-Eemxm9eGinoW5Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_mTtNwtU-Eemxm9eGinoW5Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_mTub49U-Eemxm9eGinoW5Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mTtNw9U-Eemxm9eGinoW5Q" x="41" y="75" width="1312" height="792"/>
        </children>
        <children xmi:id="_udnUINU-Eemxm9eGinoW5Q" type="Entry" element="_udle8NU-Eemxm9eGinoW5Q">
          <children xmi:id="_udn7MNU-Eemxm9eGinoW5Q" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_udn7M9U-Eemxm9eGinoW5Q" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_udn7NNU-Eemxm9eGinoW5Q"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_udoiQNU-Eemxm9eGinoW5Q"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_udn7MdU-Eemxm9eGinoW5Q" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_udn7MtU-Eemxm9eGinoW5Q"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_udnUIdU-Eemxm9eGinoW5Q" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_udnUItU-Eemxm9eGinoW5Q" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_udnUI9U-Eemxm9eGinoW5Q" x="133" y="11" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8zfUYdGXEemni-8RhNhyeA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_8zetUdGXEemni-8RhNhyeA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8zfUYtGXEemni-8RhNhyeA" x="64" y="64" width="1388" height="916"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_8zjl19GXEemni-8RhNhyeA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_8zkM4NGXEemni-8RhNhyeA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8zkM4dGXEemni-8RhNhyeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8zkM4tGXEemni-8RhNhyeA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_8zkM49GXEemni-8RhNhyeA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8zkM5NGXEemni-8RhNhyeA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8zkM5dGXEemni-8RhNhyeA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8zeGR9GXEemni-8RhNhyeA" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_8zeGSNGXEemni-8RhNhyeA"/>
    <edges xmi:id="_FNC3cNVVEemvGJPGARiGeg" type="Transition" element="_FNDehNVVEemvGJPGARiGeg" source="_pv8EENU-Eemxm9eGinoW5Q" target="_pv8rINU-Eemxm9eGinoW5Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_FNDegdVVEemvGJPGARiGeg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FNDeg9VVEemvGJPGARiGeg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FNDegtVVEemvGJPGARiGeg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_FNDegNVVEemvGJPGARiGeg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_FNC3ctVVEemvGJPGARiGeg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_FNC3cdVVEemvGJPGARiGeg" points="[0, 0, 3, 3]$[0, 0, 3, 3]"/>
    </edges>
    <edges xmi:id="_u2P2kNU-Eemxm9eGinoW5Q" type="Transition" element="_u2OocNU-Eemxm9eGinoW5Q" source="_udnUINU-Eemxm9eGinoW5Q" target="_mTtNwNU-Eemxm9eGinoW5Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_u2REsdU-Eemxm9eGinoW5Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_u2REstU-Eemxm9eGinoW5Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_u2REs9U-Eemxm9eGinoW5Q" x="-14" y="-70"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_u2P2kdU-Eemxm9eGinoW5Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_u2REsNU-Eemxm9eGinoW5Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_u2P2ktU-Eemxm9eGinoW5Q" points="[-4, 6, -30, -77]$[27, 80, 1, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_u2UIANU-Eemxm9eGinoW5Q" id="(1.0,0.26666666666666666)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_u2UIAdU-Eemxm9eGinoW5Q" id="(0.07096251341522002,0.1666854632290206)"/>
    </edges>
    <edges xmi:id="_DH38sNU_Eemxm9eGinoW5Q" type="Transition" element="_DH3VoNU_Eemxm9eGinoW5Q" source="_9fO8ZdVCEemxm9eGinoW5Q" target="_9fO8b9VCEemxm9eGinoW5Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_DH4jwdU_Eemxm9eGinoW5Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_DH4jwtU_Eemxm9eGinoW5Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_DH4jw9U_Eemxm9eGinoW5Q" x="-9" y="-64"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_DH38sdU_Eemxm9eGinoW5Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_DH4jwNU_Eemxm9eGinoW5Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_DH38stU_Eemxm9eGinoW5Q" points="[-1, -3, -26, -52]$[29, 67, 4, 18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DH7AANU_Eemxm9eGinoW5Q" id="(0.2,1.0)"/>
    </edges>
    <edges xmi:id="_4tunINVAEemxm9eGinoW5Q" type="Transition" element="_4ttZANVAEemxm9eGinoW5Q" source="_pv8rINU-Eemxm9eGinoW5Q" target="_pv8rLNU-Eemxm9eGinoW5Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_4tvOMdVAEemxm9eGinoW5Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4tvOMtVAEemxm9eGinoW5Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4tvOM9VAEemxm9eGinoW5Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4tunIdVAEemxm9eGinoW5Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4tvOMNVAEemxm9eGinoW5Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4tunItVAEemxm9eGinoW5Q" points="[0, 0, 2, -146]$[0, 128, 2, -18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4txqcNVAEemxm9eGinoW5Q" id="(0.197265625,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4txqcdVAEemxm9eGinoW5Q" id="(0.148,0.22058823529411764)"/>
    </edges>
    <edges xmi:id="_NwU3MNVBEemxm9eGinoW5Q" type="Transition" element="_NwTCANVBEemxm9eGinoW5Q" source="_pv8rINU-Eemxm9eGinoW5Q" target="_pv8rLNU-Eemxm9eGinoW5Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_NwVeQNVBEemxm9eGinoW5Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NwVeQdVBEemxm9eGinoW5Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NwVeQtVBEemxm9eGinoW5Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NwU3MdVBEemxm9eGinoW5Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NwU3M9VBEemxm9eGinoW5Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NwU3MtVBEemxm9eGinoW5Q" points="[0, 0, -96, -168]$[-213, 171, -309, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NwX6gNVBEemxm9eGinoW5Q" id="(0.384765625,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QM188NVBEemxm9eGinoW5Q" id="(0.34,0.14705882352941177)"/>
    </edges>
    <edges xmi:id="_Q83EoNVBEemxm9eGinoW5Q" type="Transition" element="_Q812gNVBEemxm9eGinoW5Q" source="_pv8rINU-Eemxm9eGinoW5Q" target="_pv8rLNU-Eemxm9eGinoW5Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_Q83EpNVBEemxm9eGinoW5Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Q83EpdVBEemxm9eGinoW5Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Q83EptVBEemxm9eGinoW5Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Q83EodVBEemxm9eGinoW5Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Q83Eo9VBEemxm9eGinoW5Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Q83EotVBEemxm9eGinoW5Q" points="[-1, 0, 4, -135]$[-1, 128, 4, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Q85g4NVBEemxm9eGinoW5Q" id="(0.515625,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Q85g4dVBEemxm9eGinoW5Q" id="(0.47,0.08823529411764706)"/>
    </edges>
    <edges xmi:id="_IuIdwNVDEemxm9eGinoW5Q" type="Transition" element="_IuHPoNVDEemxm9eGinoW5Q" source="_9fO8b9VCEemxm9eGinoW5Q" target="_IJrF0NVDEemxm9eGinoW5Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_IuJE0NVDEemxm9eGinoW5Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IuJE0dVDEemxm9eGinoW5Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IuJE0tVDEemxm9eGinoW5Q" x="-2" y="-29"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_IuIdwdVDEemxm9eGinoW5Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_IuIdw9VDEemxm9eGinoW5Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_IuIdwtVDEemxm9eGinoW5Q" points="[76, -2, -193, 1]$[269, 0, 0, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IuLhENVDEemxm9eGinoW5Q" id="(0.0,0.5283018867924528)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IuLhEdVDEemxm9eGinoW5Q" id="(0.8,0.5333333333333333)"/>
    </edges>
    <edges xmi:id="_dMy6UNVDEemxm9eGinoW5Q" type="Transition" element="_dMxsMNVDEemxm9eGinoW5Q" source="_IJrF0NVDEemxm9eGinoW5Q" target="_9fO8h9VCEemxm9eGinoW5Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_dMy6VNVDEemxm9eGinoW5Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dMy6VdVDEemxm9eGinoW5Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dMy6VtVDEemxm9eGinoW5Q" x="-11" y="-61"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dMy6UdVDEemxm9eGinoW5Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dMy6U9VDEemxm9eGinoW5Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dMy6UtVDEemxm9eGinoW5Q" points="[-9, -2, 5, -98]$[-9, 63, 5, -33]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dM19oNVDEemxm9eGinoW5Q" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dM19odVDEemxm9eGinoW5Q" id="(0.14393494023123649,0.686668728734921)"/>
    </edges>
    <edges xmi:id="_vLFE0NVDEemxm9eGinoW5Q" type="Transition" element="_vLDPoNVDEemxm9eGinoW5Q" source="_unD8UNVEEemxm9eGinoW5Q" target="_zi8c8NVDEemxm9eGinoW5Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_vLFr4dVDEemxm9eGinoW5Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vLFr4tVDEemxm9eGinoW5Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vLFr49VDEemxm9eGinoW5Q" x="11" y="53"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vLFE0dVDEemxm9eGinoW5Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vLFr4NVDEemxm9eGinoW5Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vLFE0tVDEemxm9eGinoW5Q" points="[-234, 367, -1, -131]$[-234, 497, -1, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vLIvMNVDEemxm9eGinoW5Q" id="(0.9104729729729731,0.06313131313131314)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vLIvMdVDEemxm9eGinoW5Q" id="(0.6666666666666666,0.13333333333333333)"/>
    </edges>
    <edges xmi:id="_1oWqQNVDEemxm9eGinoW5Q" type="Transition" element="_1oWDMNVDEemxm9eGinoW5Q" source="_zi8c8NVDEemxm9eGinoW5Q" target="_pv9SMNU-Eemxm9eGinoW5Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_1oWqRNVDEemxm9eGinoW5Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1oWqRdVDEemxm9eGinoW5Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1oWqRtVDEemxm9eGinoW5Q" x="-1" y="68"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1oWqQdVDEemxm9eGinoW5Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1oWqQ9VDEemxm9eGinoW5Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1oWqQtVDEemxm9eGinoW5Q" points="[-10, -1, -39, 95]$[-10, 24, -39, 120]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1oYfcNVDEemxm9eGinoW5Q" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1oZGgNVDEemxm9eGinoW5Q" id="(0.5657832878017527,-1.5950013705115746)"/>
    </edges>
    <edges xmi:id="__WzFgNVDEemxm9eGinoW5Q" type="Transition" element="__Wx3YNVDEemxm9eGinoW5Q" source="_zi8c8NVDEemxm9eGinoW5Q" target="_pv8rLNU-Eemxm9eGinoW5Q">
      <children xsi:type="notation:DecorationNode" xmi:id="__WzskNVDEemxm9eGinoW5Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__WzskdVDEemxm9eGinoW5Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__WzsktVDEemxm9eGinoW5Q" x="-6" y="-27"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__WzFgdVDEemxm9eGinoW5Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__WzFg9VDEemxm9eGinoW5Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__WzFgtVDEemxm9eGinoW5Q" points="[0, -8, -250, 518]$[160, -8, -90, 518]$[160, -144, -90, 382]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__W2v4NVDEemxm9eGinoW5Q" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="__W2v4dVDEemxm9eGinoW5Q" id="(0.81,0.6617647058823529)"/>
    </edges>
    <edges xmi:id="_Tjvf8NVEEemxm9eGinoW5Q" type="Transition" element="_Tju44NVEEemxm9eGinoW5Q" source="_IJrF0NVDEemxm9eGinoW5Q" target="_9fO8b9VCEemxm9eGinoW5Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_TjwHAdVEEemxm9eGinoW5Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_TjwHAtVEEemxm9eGinoW5Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_TjwHA9VEEemxm9eGinoW5Q" x="-69" y="-60"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Tjvf8dVEEemxm9eGinoW5Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_TjwHANVEEemxm9eGinoW5Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Tjvf8tVEEemxm9eGinoW5Q" points="[-3, 5, -30, 147]$[118, 5, 91, 147]$[118, -136, 91, 6]$[35, -136, 8, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TjzKUNVEEemxm9eGinoW5Q" id="(1.0,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TjzxYNVEEemxm9eGinoW5Q" id="(0.8787878787878788,0.4339622641509434)"/>
    </edges>
    <edges xmi:id="_qZ-Q0NVEEemxm9eGinoW5Q" type="Transition" element="_qZ9CsNVEEemxm9eGinoW5Q" source="_9fO8b9VCEemxm9eGinoW5Q" target="_9fO8e9VCEemxm9eGinoW5Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_qZ-Q1NVEEemxm9eGinoW5Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qZ-Q1dVEEemxm9eGinoW5Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qZ-34NVEEemxm9eGinoW5Q" x="-41" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qZ-Q0dVEEemxm9eGinoW5Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qZ-Q09VEEemxm9eGinoW5Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qZ-Q0tVEEemxm9eGinoW5Q" points="[14, -30, -198, -246]$[188, -30, -24, -246]$[188, 192, -24, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qaBUINVEEemxm9eGinoW5Q" id="(0.7727272727272727,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_OH6O8NV8EemeEvhW5kfKww" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_GHMl0NVFEemxm9eGinoW5Q" type="Transition" element="_GHL-wNVFEemxm9eGinoW5Q" source="_FazZ4NVFEemxm9eGinoW5Q" target="_unD8UNVEEemxm9eGinoW5Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_GHNM4NVFEemxm9eGinoW5Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_GHNM4dVFEemxm9eGinoW5Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_GHNM4tVFEemxm9eGinoW5Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_GHMl0dVFEemxm9eGinoW5Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_GHMl09VFEemxm9eGinoW5Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_GHMl0tVFEemxm9eGinoW5Q" points="[-3, 10, -142, -6]$[141, -18, 2, -34]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GHPCENVFEemxm9eGinoW5Q" id="(1.0,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GHPCEdVFEemxm9eGinoW5Q" id="(0.0472972972972973,0.07035175879396985)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
