<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.3/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_q8Jf8PnIEeu6WL2OKvpnyg" specification="internal:&#xA;&#x9;var queue_max_length:integer=30&#xA;&#x9;var queue_length:integer=0&#xA;&#x9;var id:string=&quot;img_subscriber_01&quot;&#xA;&#x9;var provider_id:string&#xA;&#x9;var max_req_num:integer=10&#xA;&#x9;&#xA;interface OutStream:&#xA;&#x9;out event NewData&#xA;&#x9;&#xA;interface InStream:&#xA;&#x9;in event NewData&#xA;&#x9;&#xA;interface OutStreamAck:&#xA;&#x9;in event NewData&#xA;&#x9;&#xA;interface Logger:&#xA;&#x9;out event DataLoss&#xA;&#x9;&#xA;interface Timer:&#xA;&#x9;in event NewEvent&#xA;&#xA;&#x9;&#xA;interface Stopping:&#xA;&#x9;in event NewEvent&#xA;&#xA;&#x9;&#xA;interface Starting:&#xA;&#x9;in event NewEvent&#xA;&#xA;&#x9;&#xA;interface OutComm:&#xA;&#x9;out event NewWorker:integer&#xA;&#x9;" name="Subscriber">
    <regions xmi:id="_q8KuGfnIEeu6WL2OKvpnyg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_q8L8M_nIEeu6WL2OKvpnyg">
        <outgoingTransitions xmi:id="_RrthAPnJEeu6WL2OKvpnyg" specification="" target="_2MvqcPnIEeu6WL2OKvpnyg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_2MvqcPnIEeu6WL2OKvpnyg" name="Active" incomingTransitions="_RrthAPnJEeu6WL2OKvpnyg _NgYTkPnKEeu6WL2OKvpnyg">
        <outgoingTransitions xmi:id="_BAAjQPnKEeu6WL2OKvpnyg" specification="Stopping.NewEvent/&#xA;queue_length=0" target="_9hq0IPnJEeu6WL2OKvpnyg"/>
        <regions xmi:id="_2MzU0PnIEeu6WL2OKvpnyg" name="QueueManagement">
          <vertices xsi:type="sgraph:Entry" xmi:id="_5NgFsPnIEeu6WL2OKvpnyg">
            <outgoingTransitions xmi:id="_-QZX0PnIEeu6WL2OKvpnyg" specification="" target="_6R9zYPnIEeu6WL2OKvpnyg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_6R9zYPnIEeu6WL2OKvpnyg" name="Empty" incomingTransitions="_-QZX0PnIEeu6WL2OKvpnyg _i7pXwPnJEeu6WL2OKvpnyg">
            <outgoingTransitions xmi:id="_G-2VsPnJEeu6WL2OKvpnyg" specification="InStream.NewData/&#xA;queue_length=queue_length+1;&#xA;raise OutStream.NewData" target="__CGhkPnIEeu6WL2OKvpnyg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="__CGhkPnIEeu6WL2OKvpnyg" name="Working" incomingTransitions="_G-2VsPnJEeu6WL2OKvpnyg _lfoXcPnJEeu6WL2OKvpnyg _eNIkwPnKEeu6WL2OKvpnyg _ySGu8PnKEeu6WL2OKvpnyg">
            <outgoingTransitions xmi:id="_ZBusUPnJEeu6WL2OKvpnyg" specification="OutStreamAck.NewData/&#xA;queue_length=queue_length-1;&#xA;raise OutStream.NewData" target="_X0bywPnJEeu6WL2OKvpnyg"/>
            <outgoingTransitions xmi:id="_UfqZ4PnKEeu6WL2OKvpnyg" specification="InStream.NewData/&#xA;queue_length=queue_length+1" target="_TsScMPnKEeu6WL2OKvpnyg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_DzNgIPnJEeu6WL2OKvpnyg" name="Full" incomingTransitions="_az3i4PnKEeu6WL2OKvpnyg _impisPnKEeu6WL2OKvpnyg">
            <outgoingTransitions xmi:id="_impisPnKEeu6WL2OKvpnyg" specification="InStream.NewData/&#xA;raise Logger.DataLoss" target="_DzNgIPnJEeu6WL2OKvpnyg"/>
            <outgoingTransitions xmi:id="_ySGu8PnKEeu6WL2OKvpnyg" specification="OutStreamAck.NewData/&#xA;queue_length=queue_length-1;&#xA;raise OutStream.NewData" target="__CGhkPnIEeu6WL2OKvpnyg"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_X0bywPnJEeu6WL2OKvpnyg" incomingTransitions="_ZBusUPnJEeu6WL2OKvpnyg">
            <outgoingTransitions xmi:id="_i7pXwPnJEeu6WL2OKvpnyg" specification="[queue_length==0]" target="_6R9zYPnIEeu6WL2OKvpnyg"/>
            <outgoingTransitions xmi:id="_lfoXcPnJEeu6WL2OKvpnyg" specification="default" target="__CGhkPnIEeu6WL2OKvpnyg"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_TsScMPnKEeu6WL2OKvpnyg" incomingTransitions="_UfqZ4PnKEeu6WL2OKvpnyg">
            <outgoingTransitions xmi:id="_az3i4PnKEeu6WL2OKvpnyg" specification="[queue_length==&#xA;&#x9;queue_max_length]" target="_DzNgIPnJEeu6WL2OKvpnyg"/>
            <outgoingTransitions xmi:id="_eNIkwPnKEeu6WL2OKvpnyg" specification="default" target="__CGhkPnIEeu6WL2OKvpnyg"/>
          </vertices>
        </regions>
        <regions xmi:id="_2MzU0fnIEeu6WL2OKvpnyg" name="Telemetry">
          <vertices xsi:type="sgraph:Entry" xmi:id="_ocXOUPnJEeu6WL2OKvpnyg">
            <outgoingTransitions xmi:id="_rMArcPnJEeu6WL2OKvpnyg" specification="" target="_pnnggPnJEeu6WL2OKvpnyg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_pnnggPnJEeu6WL2OKvpnyg" name="Sending" incomingTransitions="_rMArcPnJEeu6WL2OKvpnyg _rstkwPnJEeu6WL2OKvpnyg">
            <outgoingTransitions xmi:id="_rstkwPnJEeu6WL2OKvpnyg" specification="Timer.NewEvent/&#xA;raise &#xA;OutComm.NewWorker:&#xA;queue_length" target="_pnnggPnJEeu6WL2OKvpnyg"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_9hq0IPnJEeu6WL2OKvpnyg" name="Passive" incomingTransitions="_BAAjQPnKEeu6WL2OKvpnyg">
        <outgoingTransitions xmi:id="_NgYTkPnKEeu6WL2OKvpnyg" specification="Starting.NewEvent" target="_2MvqcPnIEeu6WL2OKvpnyg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_q8KuFvnIEeu6WL2OKvpnyg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_q8Jf8PnIEeu6WL2OKvpnyg" measurementUnit="Pixel">
    <children xmi:id="_q8LVIPnIEeu6WL2OKvpnyg" type="Region" element="_q8KuGfnIEeu6WL2OKvpnyg">
      <children xsi:type="notation:DecorationNode" xmi:id="_q8LVI_nIEeu6WL2OKvpnyg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_q8LVJPnIEeu6WL2OKvpnyg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_q8LVJfnIEeu6WL2OKvpnyg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_q8L8MPnIEeu6WL2OKvpnyg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_q8MjQPnIEeu6WL2OKvpnyg" type="Entry" element="_q8L8M_nIEeu6WL2OKvpnyg">
          <children xmi:id="_q8MjRPnIEeu6WL2OKvpnyg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_q8NKUPnIEeu6WL2OKvpnyg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_q8NKUfnIEeu6WL2OKvpnyg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_q8NKUvnIEeu6WL2OKvpnyg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_q8MjRfnIEeu6WL2OKvpnyg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_q8MjRvnIEeu6WL2OKvpnyg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_q8MjQfnIEeu6WL2OKvpnyg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_q8MjQvnIEeu6WL2OKvpnyg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_q8NKU_nIEeu6WL2OKvpnyg" x="73" width="15" height="15"/>
        </children>
        <children xmi:id="_2M1KAPnIEeu6WL2OKvpnyg" type="State" element="_2MvqcPnIEeu6WL2OKvpnyg">
          <children xsi:type="notation:DecorationNode" xmi:id="_2M1xEPnIEeu6WL2OKvpnyg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_2M1xEfnIEeu6WL2OKvpnyg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_2M1xEvnIEeu6WL2OKvpnyg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2M1xE_nIEeu6WL2OKvpnyg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_2M2YIPnIEeu6WL2OKvpnyg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2M2YIfnIEeu6WL2OKvpnyg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2M2YIvnIEeu6WL2OKvpnyg" type="StateFigureCompartment">
            <children xmi:id="_rAjM4PnKEeu6WL2OKvpnyg" type="Region" element="_2MzU0PnIEeu6WL2OKvpnyg">
              <children xsi:type="notation:DecorationNode" xmi:id="_rAjM4fnKEeu6WL2OKvpnyg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_rAjM4vnKEeu6WL2OKvpnyg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_rAjM4_nKEeu6WL2OKvpnyg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_rAjM5PnKEeu6WL2OKvpnyg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_rAjM5fnKEeu6WL2OKvpnyg" type="Entry" element="_5NgFsPnIEeu6WL2OKvpnyg">
                  <children xmi:id="_rAjM5vnKEeu6WL2OKvpnyg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_rAjM5_nKEeu6WL2OKvpnyg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_rAjM6PnKEeu6WL2OKvpnyg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_rAjM6fnKEeu6WL2OKvpnyg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_rAjM6vnKEeu6WL2OKvpnyg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rAjM6_nKEeu6WL2OKvpnyg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_rAjM7PnKEeu6WL2OKvpnyg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_rAjM7fnKEeu6WL2OKvpnyg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rAjM7vnKEeu6WL2OKvpnyg" x="211" y="-6"/>
                </children>
                <children xmi:id="_rAjM7_nKEeu6WL2OKvpnyg" type="State" element="_6R9zYPnIEeu6WL2OKvpnyg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_rAjM8PnKEeu6WL2OKvpnyg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_rAjM8fnKEeu6WL2OKvpnyg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_rAjM8vnKEeu6WL2OKvpnyg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_rAjM8_nKEeu6WL2OKvpnyg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_rAjM9PnKEeu6WL2OKvpnyg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rAjM9fnKEeu6WL2OKvpnyg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_rAjM9vnKEeu6WL2OKvpnyg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_rAjM9_nKEeu6WL2OKvpnyg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_rAjM-PnKEeu6WL2OKvpnyg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_rAjM-fnKEeu6WL2OKvpnyg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rAjM-vnKEeu6WL2OKvpnyg" x="190" y="48"/>
                </children>
                <children xmi:id="_rAjM-_nKEeu6WL2OKvpnyg" type="State" element="__CGhkPnIEeu6WL2OKvpnyg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_rAjM_PnKEeu6WL2OKvpnyg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_rAjM_fnKEeu6WL2OKvpnyg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_rAjM_vnKEeu6WL2OKvpnyg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_rAjM__nKEeu6WL2OKvpnyg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_rAjNAPnKEeu6WL2OKvpnyg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rAjNAfnKEeu6WL2OKvpnyg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_rAjNAvnKEeu6WL2OKvpnyg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_rAjNA_nKEeu6WL2OKvpnyg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_rAjNBPnKEeu6WL2OKvpnyg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_rAjNBfnKEeu6WL2OKvpnyg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rAjNBvnKEeu6WL2OKvpnyg" x="183" y="200"/>
                </children>
                <children xmi:id="_rAjNB_nKEeu6WL2OKvpnyg" type="State" element="_DzNgIPnJEeu6WL2OKvpnyg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_rAjNCPnKEeu6WL2OKvpnyg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_rAjNCfnKEeu6WL2OKvpnyg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_rAjNCvnKEeu6WL2OKvpnyg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_rAjNC_nKEeu6WL2OKvpnyg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_rAjNDPnKEeu6WL2OKvpnyg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rAjNDfnKEeu6WL2OKvpnyg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_rAjNDvnKEeu6WL2OKvpnyg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_rAjND_nKEeu6WL2OKvpnyg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_rAjNEPnKEeu6WL2OKvpnyg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_rAjNEfnKEeu6WL2OKvpnyg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rAjNEvnKEeu6WL2OKvpnyg" x="177" y="380" width="75" height="55"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_rAjNE_nKEeu6WL2OKvpnyg" type="Choice" element="_X0bywPnJEeu6WL2OKvpnyg" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rAjNFPnKEeu6WL2OKvpnyg" x="117" y="123"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_rAjNFfnKEeu6WL2OKvpnyg" type="Choice" element="_TsScMPnKEeu6WL2OKvpnyg" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rAjNFvnKEeu6WL2OKvpnyg" x="415" y="317"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rAjNF_nKEeu6WL2OKvpnyg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_rAjNGPnKEeu6WL2OKvpnyg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rAjNGfnKEeu6WL2OKvpnyg"/>
            </children>
            <children xmi:id="_2M_iFfnIEeu6WL2OKvpnyg" type="Region" element="_2MzU0fnIEeu6WL2OKvpnyg">
              <children xsi:type="notation:DecorationNode" xmi:id="_2NAJIPnIEeu6WL2OKvpnyg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_2NAJIfnIEeu6WL2OKvpnyg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_2NAJIvnIEeu6WL2OKvpnyg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_2NAJI_nIEeu6WL2OKvpnyg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_ocaRoPnJEeu6WL2OKvpnyg" type="Entry" element="_ocXOUPnJEeu6WL2OKvpnyg">
                  <children xmi:id="_oca4s_nJEeu6WL2OKvpnyg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_oca4tvnJEeu6WL2OKvpnyg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_oca4t_nJEeu6WL2OKvpnyg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_ocbfwPnJEeu6WL2OKvpnyg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_oca4tPnJEeu6WL2OKvpnyg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oca4tfnJEeu6WL2OKvpnyg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_oca4sPnJEeu6WL2OKvpnyg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_oca4sfnJEeu6WL2OKvpnyg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oca4svnJEeu6WL2OKvpnyg" x="58" y="14"/>
                </children>
                <children xmi:id="_pnouoPnJEeu6WL2OKvpnyg" type="State" element="_pnnggPnJEeu6WL2OKvpnyg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_pnpVsPnJEeu6WL2OKvpnyg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_pnpVsfnJEeu6WL2OKvpnyg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_pnpVsvnJEeu6WL2OKvpnyg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_pnpVs_nJEeu6WL2OKvpnyg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_pnpVtPnJEeu6WL2OKvpnyg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pnpVtfnJEeu6WL2OKvpnyg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_pnp8wPnJEeu6WL2OKvpnyg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_pnouofnJEeu6WL2OKvpnyg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_pnouovnJEeu6WL2OKvpnyg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pnp8wfnJEeu6WL2OKvpnyg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pnouo_nJEeu6WL2OKvpnyg" x="31" y="86"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2NAJJPnIEeu6WL2OKvpnyg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_2M_iFvnIEeu6WL2OKvpnyg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2M_iF_nIEeu6WL2OKvpnyg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_2M1KAfnIEeu6WL2OKvpnyg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_2M1KAvnIEeu6WL2OKvpnyg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2M2YI_nIEeu6WL2OKvpnyg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2M1KA_nIEeu6WL2OKvpnyg" x="13" y="36" width="726" height="609"/>
        </children>
        <children xmi:id="_9hsCQPnJEeu6WL2OKvpnyg" type="State" element="_9hq0IPnJEeu6WL2OKvpnyg">
          <children xsi:type="notation:DecorationNode" xmi:id="_9hsCRPnJEeu6WL2OKvpnyg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_9hsCRfnJEeu6WL2OKvpnyg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_9hsCRvnJEeu6WL2OKvpnyg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9hspUPnJEeu6WL2OKvpnyg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_9hspUfnJEeu6WL2OKvpnyg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9hspUvnJEeu6WL2OKvpnyg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9hspU_nJEeu6WL2OKvpnyg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_9hsCQfnJEeu6WL2OKvpnyg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_9hsCQvnJEeu6WL2OKvpnyg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_9hspVPnJEeu6WL2OKvpnyg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9hsCQ_nJEeu6WL2OKvpnyg" x="289" y="668" width="69" height="53"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_q8L8MfnIEeu6WL2OKvpnyg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_q8LVIfnIEeu6WL2OKvpnyg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_q8L8MvnIEeu6WL2OKvpnyg" x="24" y="10" width="853" height="772"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_q8Q0sPnIEeu6WL2OKvpnyg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_q8Q0svnIEeu6WL2OKvpnyg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_q8Q0s_nIEeu6WL2OKvpnyg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_q8Q0tPnIEeu6WL2OKvpnyg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_q8Q0tfnIEeu6WL2OKvpnyg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_q8Q0tvnIEeu6WL2OKvpnyg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_q8RbwPnIEeu6WL2OKvpnyg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_q8KuF_nIEeu6WL2OKvpnyg" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_q8KuGPnIEeu6WL2OKvpnyg"/>
    <edges xmi:id="_-Qal8PnIEeu6WL2OKvpnyg" type="Transition" element="_-QZX0PnIEeu6WL2OKvpnyg" source="_rAjM5fnKEeu6WL2OKvpnyg" target="_rAjM7_nKEeu6WL2OKvpnyg">
      <children xsi:type="notation:DecorationNode" xmi:id="_-QbNAfnIEeu6WL2OKvpnyg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-QbNAvnIEeu6WL2OKvpnyg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-QbNA_nIEeu6WL2OKvpnyg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-Qal8fnIEeu6WL2OKvpnyg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-QbNAPnIEeu6WL2OKvpnyg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-Qal8vnIEeu6WL2OKvpnyg" points="[-7, 4, 1, -65]$[21, 73, 29, 4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-Qe3YPnIEeu6WL2OKvpnyg" id="(1.0,0.6)"/>
    </edges>
    <edges xmi:id="_G-4K4PnJEeu6WL2OKvpnyg" type="Transition" element="_G-2VsPnJEeu6WL2OKvpnyg" source="_rAjM7_nKEeu6WL2OKvpnyg" target="_rAjM-_nKEeu6WL2OKvpnyg">
      <children xsi:type="notation:DecorationNode" xmi:id="_G-4K5PnJEeu6WL2OKvpnyg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_G-4K5fnJEeu6WL2OKvpnyg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_G-4x8PnJEeu6WL2OKvpnyg" x="-24" y="-101"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_G-4K4fnJEeu6WL2OKvpnyg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_G-4K4_nJEeu6WL2OKvpnyg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_G-4K4vnJEeu6WL2OKvpnyg" points="[2, 24, 2, -128]$[30, 176, 30, 24]"/>
    </edges>
    <edges xmi:id="_RrvWMPnJEeu6WL2OKvpnyg" type="Transition" element="_RrthAPnJEeu6WL2OKvpnyg" source="_q8MjQPnIEeu6WL2OKvpnyg" target="_2M1KAPnIEeu6WL2OKvpnyg">
      <children xsi:type="notation:DecorationNode" xmi:id="_RrvWNPnJEeu6WL2OKvpnyg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RrvWNfnJEeu6WL2OKvpnyg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RrvWNvnJEeu6WL2OKvpnyg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RrvWMfnJEeu6WL2OKvpnyg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RrvWM_nJEeu6WL2OKvpnyg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RrvWMvnJEeu6WL2OKvpnyg" points="[2, -3, 0, -39]$[-1, 34, -3, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RryZgPnJEeu6WL2OKvpnyg" id="(0.6,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RryZgfnJEeu6WL2OKvpnyg" id="(0.09431345353675451,0.06788079470198675)"/>
    </edges>
    <edges xmi:id="_ZBv6cPnJEeu6WL2OKvpnyg" type="Transition" element="_ZBusUPnJEeu6WL2OKvpnyg" source="_rAjM-_nKEeu6WL2OKvpnyg" target="_rAjNE_nKEeu6WL2OKvpnyg">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZBv6dPnJEeu6WL2OKvpnyg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZBv6dfnJEeu6WL2OKvpnyg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZBv6dvnJEeu6WL2OKvpnyg" x="-33" y="-37"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ZBv6cfnJEeu6WL2OKvpnyg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ZBv6c_nJEeu6WL2OKvpnyg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ZBv6cvnJEeu6WL2OKvpnyg" points="[-55, -24, 61, 87]$[-114, -24, 2, 87]$[-114, -110, 2, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZBy9wPnJEeu6WL2OKvpnyg" id="(0.7857142857142857,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZBy9wfnJEeu6WL2OKvpnyg" id="(0.3333333333333333,0.9333333333333333)"/>
    </edges>
    <edges xmi:id="_i7ql4PnJEeu6WL2OKvpnyg" type="Transition" element="_i7pXwPnJEeu6WL2OKvpnyg" source="_rAjNE_nKEeu6WL2OKvpnyg" target="_rAjM7_nKEeu6WL2OKvpnyg">
      <children xsi:type="notation:DecorationNode" xmi:id="_i7ql5PnJEeu6WL2OKvpnyg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_i7ql5fnJEeu6WL2OKvpnyg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_i7rM8PnJEeu6WL2OKvpnyg" x="-29" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_i7ql4fnJEeu6WL2OKvpnyg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_i7ql4_nJEeu6WL2OKvpnyg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_i7ql4vnJEeu6WL2OKvpnyg" points="[-4, -11, -72, 59]$[58, -73, -10, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_i7uQQPnJEeu6WL2OKvpnyg" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_i7uQQfnJEeu6WL2OKvpnyg" id="(0.17543859649122806,0.4166666666666667)"/>
    </edges>
    <edges xmi:id="_lfqMoPnJEeu6WL2OKvpnyg" type="Transition" element="_lfoXcPnJEeu6WL2OKvpnyg" source="_rAjNE_nKEeu6WL2OKvpnyg" target="_rAjM-_nKEeu6WL2OKvpnyg">
      <children xsi:type="notation:DecorationNode" xmi:id="_lfqzsPnJEeu6WL2OKvpnyg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lfqzsfnJEeu6WL2OKvpnyg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lfqzsvnJEeu6WL2OKvpnyg" x="-16" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lfqMofnJEeu6WL2OKvpnyg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lfqMo_nJEeu6WL2OKvpnyg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lfqMovnJEeu6WL2OKvpnyg" points="[-1, -8, -87, -94]$[67, -8, -19, -94]$[67, 62, -19, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lft3APnJEeu6WL2OKvpnyg" id="(1.0,1.0)"/>
    </edges>
    <edges xmi:id="_rMB5kPnJEeu6WL2OKvpnyg" type="Transition" element="_rMArcPnJEeu6WL2OKvpnyg" source="_ocaRoPnJEeu6WL2OKvpnyg" target="_pnouoPnJEeu6WL2OKvpnyg">
      <children xsi:type="notation:DecorationNode" xmi:id="_rMCgofnJEeu6WL2OKvpnyg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_rMCgovnJEeu6WL2OKvpnyg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_rMCgo_nJEeu6WL2OKvpnyg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_rMB5kfnJEeu6WL2OKvpnyg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_rMCgoPnJEeu6WL2OKvpnyg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_rMB5kvnJEeu6WL2OKvpnyg" points="[-2, -1, 0, -69]$[-3, 57, -1, -11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rMFj8PnJEeu6WL2OKvpnyg" id="(0.6,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rMFj8fnJEeu6WL2OKvpnyg" id="(0.4857142857142857,0.22916666666666666)"/>
    </edges>
    <edges xmi:id="_rsuy4PnJEeu6WL2OKvpnyg" type="Transition" element="_rstkwPnJEeu6WL2OKvpnyg" source="_pnouoPnJEeu6WL2OKvpnyg" target="_pnouoPnJEeu6WL2OKvpnyg">
      <children xsi:type="notation:DecorationNode" xmi:id="_rsvZ8_nJEeu6WL2OKvpnyg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_rsvZ9PnJEeu6WL2OKvpnyg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_rsvZ9fnJEeu6WL2OKvpnyg" x="-26" y="-40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_rsvZ8PnJEeu6WL2OKvpnyg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_rsvZ8vnJEeu6WL2OKvpnyg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_rsvZ8fnJEeu6WL2OKvpnyg" points="[11, 3, 11, 3]$[-9, 3, -9, 3]$[-9, 96, -9, 96]$[-45, 96, -45, 96]$[-45, 12, -45, 12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rsx2MPnJEeu6WL2OKvpnyg" id="(0.8857142857142857,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rsx2MfnJEeu6WL2OKvpnyg" id="(0.8428571428571429,0.75)"/>
    </edges>
    <edges xmi:id="_BABxYPnKEeu6WL2OKvpnyg" type="Transition" element="_BAAjQPnKEeu6WL2OKvpnyg" source="_2M1KAPnIEeu6WL2OKvpnyg" target="_9hsCQPnJEeu6WL2OKvpnyg">
      <children xsi:type="notation:DecorationNode" xmi:id="_BACYcfnKEeu6WL2OKvpnyg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BACYcvnKEeu6WL2OKvpnyg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BACYc_nKEeu6WL2OKvpnyg" x="7" y="28"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BABxYfnKEeu6WL2OKvpnyg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BACYcPnKEeu6WL2OKvpnyg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BABxYvnKEeu6WL2OKvpnyg" points="[-125, 0, -137, -60]$[-125, 44, -137, -16]$[7, 44, -5, -16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BAE0sPnKEeu6WL2OKvpnyg" id="(0.37309292649098474,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BAE0sfnKEeu6WL2OKvpnyg" id="(0.078125,0.6666666666666666)"/>
    </edges>
    <edges xmi:id="_NgaIwPnKEeu6WL2OKvpnyg" type="Transition" element="_NgYTkPnKEeu6WL2OKvpnyg" source="_9hsCQPnJEeu6WL2OKvpnyg" target="_2M1KAPnIEeu6WL2OKvpnyg">
      <children xsi:type="notation:DecorationNode" xmi:id="_NgaIxPnKEeu6WL2OKvpnyg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NgaIxfnKEeu6WL2OKvpnyg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NgaIxvnKEeu6WL2OKvpnyg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NgaIwfnKEeu6WL2OKvpnyg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NgaIw_nKEeu6WL2OKvpnyg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NgaIwvnKEeu6WL2OKvpnyg" points="[0, -15, -97, 47]$[92, -15, -5, 47]$[92, -59, -5, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ngb98PnKEeu6WL2OKvpnyg" id="(1.0,0.6458333333333334)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ngb98fnKEeu6WL2OKvpnyg" id="(0.6061026352288488,0.9950331125827815)"/>
    </edges>
    <edges xmi:id="_UfrA8PnKEeu6WL2OKvpnyg" type="Transition" element="_UfqZ4PnKEeu6WL2OKvpnyg" source="_rAjM-_nKEeu6WL2OKvpnyg" target="_rAjNFfnKEeu6WL2OKvpnyg">
      <children xsi:type="notation:DecorationNode" xmi:id="_UfrA9PnKEeu6WL2OKvpnyg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_UfrA9fnKEeu6WL2OKvpnyg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_UfrA9vnKEeu6WL2OKvpnyg" x="-29" y="-22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_UfrA8fnKEeu6WL2OKvpnyg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_UfrA8_nKEeu6WL2OKvpnyg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_UfrA8vnKEeu6WL2OKvpnyg" points="[18, -25, -97, -101]$[115, -25, 0, -101]$[115, 68, 0, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ufs2IPnKEeu6WL2OKvpnyg" id="(0.7428571428571429,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Y2M8UPnKEeu6WL2OKvpnyg" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_az4xAPnKEeu6WL2OKvpnyg" type="Transition" element="_az3i4PnKEeu6WL2OKvpnyg" source="_rAjNFfnKEeu6WL2OKvpnyg" target="_rAjNB_nKEeu6WL2OKvpnyg">
      <children xsi:type="notation:DecorationNode" xmi:id="_az5YEfnKEeu6WL2OKvpnyg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_az5YEvnKEeu6WL2OKvpnyg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_az5YE_nKEeu6WL2OKvpnyg" x="45" y="26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_az4xAfnKEeu6WL2OKvpnyg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_az5YEPnKEeu6WL2OKvpnyg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_az4xAvnKEeu6WL2OKvpnyg" points="[-8, 0, 125, -60]$[-8, 75, 125, 15]$[-111, 75, 22, 15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_az70UPnKEeu6WL2OKvpnyg" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_az70UfnKEeu6WL2OKvpnyg" id="(0.6857142857142857,0.24)"/>
    </edges>
    <edges xmi:id="_eNKZ8PnKEeu6WL2OKvpnyg" type="Transition" element="_eNIkwPnKEeu6WL2OKvpnyg" source="_rAjNFfnKEeu6WL2OKvpnyg" target="_rAjM-_nKEeu6WL2OKvpnyg">
      <children xsi:type="notation:DecorationNode" xmi:id="_eNKZ9PnKEeu6WL2OKvpnyg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eNKZ9fnKEeu6WL2OKvpnyg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eNKZ9vnKEeu6WL2OKvpnyg" x="-3" y="11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_eNKZ8fnKEeu6WL2OKvpnyg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_eNKZ8_nKEeu6WL2OKvpnyg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_eNKZ8vnKEeu6WL2OKvpnyg" points="[-15, 7, 218, 84]$[-184, 7, 49, 84]$[-184, -69, 49, 8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eNM2MPnKEeu6WL2OKvpnyg" id="(1.0,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eNM2MfnKEeu6WL2OKvpnyg" id="(0.2,0.8333333333333334)"/>
    </edges>
    <edges xmi:id="_imqw0PnKEeu6WL2OKvpnyg" type="Transition" element="_impisPnKEeu6WL2OKvpnyg" source="_rAjNB_nKEeu6WL2OKvpnyg" target="_rAjNB_nKEeu6WL2OKvpnyg">
      <children xsi:type="notation:DecorationNode" xmi:id="_imrX4PnKEeu6WL2OKvpnyg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_imrX4fnKEeu6WL2OKvpnyg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_imrX4vnKEeu6WL2OKvpnyg" x="-70" y="20"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_imqw0fnKEeu6WL2OKvpnyg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_imqw0_nKEeu6WL2OKvpnyg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_imqw0vnKEeu6WL2OKvpnyg" points="[0, 12, 6, -4]$[60, 12, 66, -4]$[60, 53, 66, 37]$[-13, 53, -7, 37]$[-13, 22, -7, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_imtNEPnKEeu6WL2OKvpnyg" id="(1.0,0.56)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_imtNEfnKEeu6WL2OKvpnyg" id="(0.9142857142857143,0.88)"/>
    </edges>
    <edges xmi:id="_ySHWAPnKEeu6WL2OKvpnyg" type="Transition" element="_ySGu8PnKEeu6WL2OKvpnyg" source="_rAjNB_nKEeu6WL2OKvpnyg" target="_rAjM-_nKEeu6WL2OKvpnyg">
      <children xsi:type="notation:DecorationNode" xmi:id="_ySH9EvnKEeu6WL2OKvpnyg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ySH9E_nKEeu6WL2OKvpnyg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ySH9FPnKEeu6WL2OKvpnyg" x="-26" y="-103"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ySHWAfnKEeu6WL2OKvpnyg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ySH9EfnKEeu6WL2OKvpnyg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ySH9EPnKEeu6WL2OKvpnyg" points="[3, -33, -30, 156]$[-2, -191, -35, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ySKZUPnKEeu6WL2OKvpnyg" id="(0.5285714285714286,0.16)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
