<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.3/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_MSP7AOlMEeuqubrbe8a57w" specification="internal:&#xA;&#x9;var queue_length:integer=30&#xA;&#x9;var package_number:integer=0&#xA;&#x9;var id:string=&quot;img_subscriber_01&quot;&#xA;&#x9;var provider_id:string&#xA;&#x9;var max_req_num:integer=10&#xA;&#x9;&#xA;interface OutStream:&#xA;&#x9;out event NewData&#xA;&#x9;&#xA;interface InStream:&#xA;&#x9;in event NewData:string&#xA;&#x9;&#xA;interface OutStreamAck:&#xA;&#x9;in event NewData&#xA;&#x9;&#xA;interface Logger:&#xA;&#x9;out event DataLoss&#xA;&#x9;&#xA;interface OutComm:&#xA;&#x9;out event NewWorker:string&#xA;&#x9;&#xA;interface InComm:&#xA;&#x9;in event NewWorker:string&#xA;" name="LB_Subscriber">
    <regions xmi:id="_MSTlYOlMEeuqubrbe8a57w" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_MScvUelMEeuqubrbe8a57w">
        <outgoingTransitions xmi:id="_MShn0elMEeuqubrbe8a57w" specification="" target="_dNJZEOlQEeuqubrbe8a57w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_MSekhOlMEeuqubrbe8a57w" name="RequestAndSend" incomingTransitions="_IxWfwOlPEeuqubrbe8a57w _VDoUQOlQEeuqubrbe8a57w _nMNDMOlQEeuqubrbe8a57w _QuQyUOlXEeuqubrbe8a57w _Xz_e4OlXEeuqubrbe8a57w">
        <outgoingTransitions xmi:id="_IxWfwOlPEeuqubrbe8a57w" specification="InComm.NewWorker/&#xA;provider_id=valueof(InComm.NewWorker);&#xA;raise OutComm.NewWorker:id" target="_MSekhOlMEeuqubrbe8a57w"/>
        <outgoingTransitions xmi:id="_4HHhoOlPEeuqubrbe8a57w" specification="InStream.NewData/&#xA;package_number=package_number+1" target="_3lZUoOlPEeuqubrbe8a57w"/>
        <outgoingTransitions xmi:id="_BGbh0OlXEeuqubrbe8a57w" specification="OutStreamAck.NewData/&#xA;raise OutStream.NewData;&#xA;package_number=package_number-1" target="_KA6JgOlXEeuqubrbe8a57w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_DE_Z4OlPEeuqubrbe8a57w" name="OnlySend" incomingTransitions="_Neu_cOlQEeuqubrbe8a57w _feV7cOlXEeuqubrbe8a57w _XvxaEOoDEeuQJp5MXxRsWA _hk6TMOoDEeuQJp5MXxRsWA">
        <outgoingTransitions xmi:id="_1tKjgOlWEeuqubrbe8a57w" specification="OutStreamAck.NewData/&#xA;raise OutStream.NewData;&#xA;package_number=package_number-1" target="_za4X0OlWEeuqubrbe8a57w"/>
        <outgoingTransitions xmi:id="_Q8yqYOoDEeuQJp5MXxRsWA" specification="InStream.NewData" target="_VePcUOoDEeuQJp5MXxRsWA"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_3lZUoOlPEeuqubrbe8a57w" incomingTransitions="_4HHhoOlPEeuqubrbe8a57w">
        <outgoingTransitions xmi:id="_Neu_cOlQEeuqubrbe8a57w" specification="[package_number==max_req_num]" target="_DE_Z4OlPEeuqubrbe8a57w"/>
        <outgoingTransitions xmi:id="_VDoUQOlQEeuqubrbe8a57w" specification="default" target="_MSekhOlMEeuqubrbe8a57w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_dNJZEOlQEeuqubrbe8a57w" name="RequestAndWait" incomingTransitions="_dNJZE-lQEeuqubrbe8a57w _MShn0elMEeuqubrbe8a57w _MnSV4OlXEeuqubrbe8a57w">
        <outgoingTransitions xmi:id="_dNJZE-lQEeuqubrbe8a57w" specification="InComm.NewWorker/&#xA;provider_id=valueof(InComm.NewWorker);&#xA;raise OutComm.NewWorker:id" target="_dNJZEOlQEeuqubrbe8a57w"/>
        <outgoingTransitions xmi:id="_nMNDMOlQEeuqubrbe8a57w" specification="InStream.NewData/&#xA;raise OutStream.NewData;&#xA;package_number=package_number+1" target="_MSekhOlMEeuqubrbe8a57w"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_za4X0OlWEeuqubrbe8a57w" incomingTransitions="_1tKjgOlWEeuqubrbe8a57w">
        <outgoingTransitions xmi:id="_Xz_e4OlXEeuqubrbe8a57w" specification="[package_number&lt;max_req_num]" target="_MSekhOlMEeuqubrbe8a57w"/>
        <outgoingTransitions xmi:id="_feV7cOlXEeuqubrbe8a57w" specification="default" target="_DE_Z4OlPEeuqubrbe8a57w"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_KA6JgOlXEeuqubrbe8a57w" incomingTransitions="_BGbh0OlXEeuqubrbe8a57w">
        <outgoingTransitions xmi:id="_MnSV4OlXEeuqubrbe8a57w" specification="[package_number==0]" target="_dNJZEOlQEeuqubrbe8a57w"/>
        <outgoingTransitions xmi:id="_QuQyUOlXEeuqubrbe8a57w" specification="default" target="_MSekhOlMEeuqubrbe8a57w"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_VePcUOoDEeuQJp5MXxRsWA" incomingTransitions="_Q8yqYOoDEeuQJp5MXxRsWA">
        <outgoingTransitions xmi:id="_XvxaEOoDEeuQJp5MXxRsWA" specification="[package_number&lt;queue_length]/&#xA;package_number=package_number+1" target="_DE_Z4OlPEeuqubrbe8a57w"/>
        <outgoingTransitions xmi:id="_hk6TMOoDEeuQJp5MXxRsWA" specification="default/&#xA;raise Logger.DataLoss" target="_DE_Z4OlPEeuqubrbe8a57w"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_MSS-UOlMEeuqubrbe8a57w" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_MSP7AOlMEeuqubrbe8a57w" measurementUnit="Pixel">
    <children xmi:id="_MSYd4OlMEeuqubrbe8a57w" type="Region" element="_MSTlYOlMEeuqubrbe8a57w">
      <children xsi:type="notation:DecorationNode" xmi:id="_MScIQOlMEeuqubrbe8a57w" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MScIQelMEeuqubrbe8a57w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MScIQulMEeuqubrbe8a57w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_MScIQ-lMEeuqubrbe8a57w" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_MSdWYOlMEeuqubrbe8a57w" type="Entry" element="_MScvUelMEeuqubrbe8a57w">
          <children xmi:id="_MSd9cOlMEeuqubrbe8a57w" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_MSekgOlMEeuqubrbe8a57w" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_MSekgelMEeuqubrbe8a57w"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_MSekgulMEeuqubrbe8a57w"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MSd9celMEeuqubrbe8a57w" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MSd9culMEeuqubrbe8a57w"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MSdWYelMEeuqubrbe8a57w" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_MSdWYulMEeuqubrbe8a57w" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MSekg-lMEeuqubrbe8a57w" x="294" y="10"/>
        </children>
        <children xmi:id="_MSfLkulMEeuqubrbe8a57w" type="State" element="_MSekhOlMEeuqubrbe8a57w">
          <children xsi:type="notation:DecorationNode" xmi:id="_MSfyoOlMEeuqubrbe8a57w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MSfyoelMEeuqubrbe8a57w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_MSfyoulMEeuqubrbe8a57w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MSgZsOlMEeuqubrbe8a57w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_MSgZselMEeuqubrbe8a57w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MSgZsulMEeuqubrbe8a57w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MShAwOlMEeuqubrbe8a57w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MSfLk-lMEeuqubrbe8a57w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_MSfLlOlMEeuqubrbe8a57w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MShAwelMEeuqubrbe8a57w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MShn0OlMEeuqubrbe8a57w" x="291" y="271" width="146" height="55"/>
        </children>
        <children xmi:id="_DFB2IOlPEeuqubrbe8a57w" type="State" element="_DE_Z4OlPEeuqubrbe8a57w">
          <children xsi:type="notation:DecorationNode" xmi:id="_DFCdMOlPEeuqubrbe8a57w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_DFCdMelPEeuqubrbe8a57w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_DFCdMulPEeuqubrbe8a57w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_DFCdM-lPEeuqubrbe8a57w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_DFDEQOlPEeuqubrbe8a57w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DFDEQelPEeuqubrbe8a57w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_DFDEQulPEeuqubrbe8a57w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_DFB2IelPEeuqubrbe8a57w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_DFB2IulPEeuqubrbe8a57w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_DFDEQ-lPEeuqubrbe8a57w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DFB2I-lPEeuqubrbe8a57w" x="253" y="499" width="132" height="55"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_3ldmEOlPEeuqubrbe8a57w" type="Choice" element="_3lZUoOlPEeuqubrbe8a57w" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3ldmEelPEeuqubrbe8a57w" x="289" y="379"/>
        </children>
        <children xmi:id="_dNHj4OlQEeuqubrbe8a57w" type="State" element="_dNJZEOlQEeuqubrbe8a57w">
          <children xsi:type="notation:DecorationNode" xmi:id="_dNHj4elQEeuqubrbe8a57w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_dNHj4ulQEeuqubrbe8a57w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_dNHj4-lQEeuqubrbe8a57w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_dNHj5OlQEeuqubrbe8a57w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_dNHj5elQEeuqubrbe8a57w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dNHj5ulQEeuqubrbe8a57w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_dNHj5-lQEeuqubrbe8a57w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_dNHj6OlQEeuqubrbe8a57w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_dNHj6elQEeuqubrbe8a57w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_dNHj6ulQEeuqubrbe8a57w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dNHj6-lQEeuqubrbe8a57w" x="261" y="117"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_za5l8OlWEeuqubrbe8a57w" type="Choice" element="_za4X0OlWEeuqubrbe8a57w" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_za5l8elWEeuqubrbe8a57w" x="631" y="523" width="17" height="11"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_KA6wkOlXEeuqubrbe8a57w" type="Choice" element="_KA6JgOlXEeuqubrbe8a57w" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KA6wkelXEeuqubrbe8a57w" x="-6" y="264"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_VeRRgOoDEeuQJp5MXxRsWA" type="Choice" element="_VePcUOoDEeuQJp5MXxRsWA" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VeRRgeoDEeuQJp5MXxRsWA" x="19" y="516"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MScIROlMEeuqubrbe8a57w"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_MSYd4elMEeuqubrbe8a57w" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MScvUOlMEeuqubrbe8a57w" x="-24" width="690" height="638"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_MSkEEOlMEeuqubrbe8a57w" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_MSkEEulMEeuqubrbe8a57w" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MSkEE-lMEeuqubrbe8a57w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MSkEFOlMEeuqubrbe8a57w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_MSkrIOlMEeuqubrbe8a57w" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MSkrIelMEeuqubrbe8a57w"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MSlSMOlMEeuqubrbe8a57w" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MSS-UelMEeuqubrbe8a57w" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_MSS-UulMEeuqubrbe8a57w"/>
    <edges xmi:id="_MSi18OlMEeuqubrbe8a57w" type="Transition" element="_MShn0elMEeuqubrbe8a57w" source="_MSdWYOlMEeuqubrbe8a57w" target="_dNHj4OlQEeuqubrbe8a57w">
      <children xsi:type="notation:DecorationNode" xmi:id="_MSjdAelMEeuqubrbe8a57w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MSjdAulMEeuqubrbe8a57w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MSjdA-lMEeuqubrbe8a57w" x="-11" y="-100"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MSi18elMEeuqubrbe8a57w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MSjdAOlMEeuqubrbe8a57w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MSi18ulMEeuqubrbe8a57w" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_md7n8OlQEeuqubrbe8a57w" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_md-EMOlQEeuqubrbe8a57w" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_IxYU8OlPEeuqubrbe8a57w" type="Transition" element="_IxWfwOlPEeuqubrbe8a57w" source="_MSfLkulMEeuqubrbe8a57w" target="_MSfLkulMEeuqubrbe8a57w">
      <children xsi:type="notation:DecorationNode" xmi:id="_IxY8AOlPEeuqubrbe8a57w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IxY8AelPEeuqubrbe8a57w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IxY8AulPEeuqubrbe8a57w" x="29" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_IxYU8elPEeuqubrbe8a57w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_IxYU8-lPEeuqubrbe8a57w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_IxYU8ulPEeuqubrbe8a57w" points="[79, 39, 2, 9]$[153, 39, 76, 9]$[153, -45, 76, -75]$[51, -45, -26, -75]$[51, 0, -26, -30]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IxdNcOlPEeuqubrbe8a57w" id="(0.35114759591221306,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_uXqZwOlPEeuqubrbe8a57w" id="(0.9144468643547217,0.6)"/>
    </edges>
    <edges xmi:id="_4HJW0OlPEeuqubrbe8a57w" type="Transition" element="_4HHhoOlPEeuqubrbe8a57w" source="_MSfLkulMEeuqubrbe8a57w" target="_3ldmEOlPEeuqubrbe8a57w">
      <children xsi:type="notation:DecorationNode" xmi:id="_4HJW1OlPEeuqubrbe8a57w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4HJW1elPEeuqubrbe8a57w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4HJW1ulPEeuqubrbe8a57w" x="-2" y="123"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4HJW0elPEeuqubrbe8a57w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4HJW0-lPEeuqubrbe8a57w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4HJW0ulPEeuqubrbe8a57w" points="[-6, 0, -97, -54]$[-6, 57, -97, 3]$[90, 57, -1, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4HNBMOlPEeuqubrbe8a57w" id="(0.0851063829787234,0.86)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4HNBMelPEeuqubrbe8a57w" id="(0.06666666666666667,0.26666666666666666)"/>
    </edges>
    <edges xmi:id="_NewNkOlQEeuqubrbe8a57w" type="Transition" element="_Neu_cOlQEeuqubrbe8a57w" source="_3ldmEOlPEeuqubrbe8a57w" target="_DFB2IOlPEeuqubrbe8a57w">
      <children xsi:type="notation:DecorationNode" xmi:id="_NewNlOlQEeuqubrbe8a57w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NewNlelQEeuqubrbe8a57w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NewNlulQEeuqubrbe8a57w" x="1" y="116"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NewNkelQEeuqubrbe8a57w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NewNk-lQEeuqubrbe8a57w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NewNkulQEeuqubrbe8a57w" points="[-8, 15, -20, -130]$[-8, 120, -20, -25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Nez38OlQEeuqubrbe8a57w" id="(1.0,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RtFPMOlQEeuqubrbe8a57w" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_VDqJcOlQEeuqubrbe8a57w" type="Transition" element="_VDoUQOlQEeuqubrbe8a57w" source="_3ldmEOlPEeuqubrbe8a57w" target="_MSfLkulMEeuqubrbe8a57w">
      <children xsi:type="notation:DecorationNode" xmi:id="_VDqJdOlQEeuqubrbe8a57w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_VDqJdelQEeuqubrbe8a57w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_VDqJdulQEeuqubrbe8a57w" x="-29" y="15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_VDqJcelQEeuqubrbe8a57w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_VDqJc-lQEeuqubrbe8a57w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_VDqJculQEeuqubrbe8a57w" points="[-1, 7, -108, 83]$[84, 7, -23, 83]$[84, -60, -23, 16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VDslsOlQEeuqubrbe8a57w" id="(1.0,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VDslselQEeuqubrbe8a57w" id="(0.851063829787234,0.64)"/>
    </edges>
    <edges xmi:id="_dNL1UOlQEeuqubrbe8a57w" type="Transition" element="_dNJZE-lQEeuqubrbe8a57w" source="_dNHj4OlQEeuqubrbe8a57w" target="_dNHj4OlQEeuqubrbe8a57w">
      <children xsi:type="notation:DecorationNode" xmi:id="_dNL1UelQEeuqubrbe8a57w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dNL1UulQEeuqubrbe8a57w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dNL1U-lQEeuqubrbe8a57w" x="29" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dNL1VOlQEeuqubrbe8a57w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dNL1VelQEeuqubrbe8a57w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dNL1VulQEeuqubrbe8a57w" points="[79, 39, 2, 9]$[153, 39, 76, 9]$[153, -45, 76, -75]$[51, -45, -26, -75]$[51, 0, -26, -30]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dNL1V-lQEeuqubrbe8a57w" id="(0.3779527559055118,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dNL1WOlQEeuqubrbe8a57w" id="(1.0,0.6041666666666666)"/>
    </edges>
    <edges xmi:id="_nMO4YOlQEeuqubrbe8a57w" type="Transition" element="_nMNDMOlQEeuqubrbe8a57w" source="_dNHj4OlQEeuqubrbe8a57w" target="_MSfLkulMEeuqubrbe8a57w">
      <children xsi:type="notation:DecorationNode" xmi:id="_nMPfcelQEeuqubrbe8a57w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nMPfculQEeuqubrbe8a57w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nMPfc-lQEeuqubrbe8a57w" x="-32" y="117"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_nMO4YelQEeuqubrbe8a57w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_nMPfcOlQEeuqubrbe8a57w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_nMO4YulQEeuqubrbe8a57w" points="[-2, 0, 0, -122]$[-12, 120, -10, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_nMR7sOlQEeuqubrbe8a57w" id="(0.33070866141732286,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_nMR7selQEeuqubrbe8a57w" id="(0.07092198581560284,0.32)"/>
    </edges>
    <edges xmi:id="_1tLxoOlWEeuqubrbe8a57w" type="Transition" element="_1tKjgOlWEeuqubrbe8a57w" source="_DFB2IOlPEeuqubrbe8a57w" target="_za5l8OlWEeuqubrbe8a57w">
      <children xsi:type="notation:DecorationNode" xmi:id="_1tMYsOlWEeuqubrbe8a57w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1tMYselWEeuqubrbe8a57w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1tMYsulWEeuqubrbe8a57w" x="2" y="-30"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1tLxoelWEeuqubrbe8a57w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1tLxo-lWEeuqubrbe8a57w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1tLxoulWEeuqubrbe8a57w" points="[0, -9, -145, -3]$[144, 1, -1, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1tO08OlWEeuqubrbe8a57w" id="(0.9921259842519685,0.62)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YjBvIOlXEeuqubrbe8a57w" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_BGdXAOlXEeuqubrbe8a57w" type="Transition" element="_BGbh0OlXEeuqubrbe8a57w" source="_MSfLkulMEeuqubrbe8a57w" target="_KA6wkOlXEeuqubrbe8a57w">
      <children xsi:type="notation:DecorationNode" xmi:id="_BGdXBOlXEeuqubrbe8a57w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BGdXBelXEeuqubrbe8a57w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BGdXBulXEeuqubrbe8a57w" x="4" y="30"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BGdXAelXEeuqubrbe8a57w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BGdXA-lXEeuqubrbe8a57w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BGdXAulXEeuqubrbe8a57w" points="[-36, -25, -14, -10]$[-36, -13, -14, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BGfMMOlXEeuqubrbe8a57w" id="(0.0,0.16)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PujBwOlXEeuqubrbe8a57w" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_MnTkAOlXEeuqubrbe8a57w" type="Transition" element="_MnSV4OlXEeuqubrbe8a57w" source="_KA6wkOlXEeuqubrbe8a57w" target="_dNHj4OlQEeuqubrbe8a57w">
      <children xsi:type="notation:DecorationNode" xmi:id="_MnTkBOlXEeuqubrbe8a57w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MnTkBelXEeuqubrbe8a57w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MnTkBulXEeuqubrbe8a57w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MnTkAelXEeuqubrbe8a57w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MnTkA-lXEeuqubrbe8a57w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MnTkAulXEeuqubrbe8a57w" points="[-8, -16, -239, 121]$[-8, -136, -239, 1]$[228, -136, -3, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MnVZMOlXEeuqubrbe8a57w" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MnVZMelXEeuqubrbe8a57w" id="(0.023622047244094488,0.5208333333333334)"/>
    </edges>
    <edges xmi:id="_QuSAcOlXEeuqubrbe8a57w" type="Transition" element="_QuQyUOlXEeuqubrbe8a57w" source="_KA6wkOlXEeuqubrbe8a57w" target="_MSfLkulMEeuqubrbe8a57w">
      <children xsi:type="notation:DecorationNode" xmi:id="_QuSngelXEeuqubrbe8a57w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QuSngulXEeuqubrbe8a57w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QuSng-lXEeuqubrbe8a57w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QuSAcelXEeuqubrbe8a57w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QuSngOlXEeuqubrbe8a57w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QuSAculXEeuqubrbe8a57w" points="[-8, -1, -316, -32]$[284, 40, -24, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QuVDwOlXEeuqubrbe8a57w" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QuVDwelXEeuqubrbe8a57w" id="(0.18439716312056736,0.78)"/>
    </edges>
    <edges xmi:id="_X0AtAOlXEeuqubrbe8a57w" type="Transition" element="_Xz_e4OlXEeuqubrbe8a57w" source="_za5l8OlWEeuqubrbe8a57w" target="_MSfLkulMEeuqubrbe8a57w">
      <children xsi:type="notation:DecorationNode" xmi:id="_X0BUEelXEeuqubrbe8a57w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_X0BUEulXEeuqubrbe8a57w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_X0BUE-lXEeuqubrbe8a57w" x="105" y="-9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_X0AtAelXEeuqubrbe8a57w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_X0BUEOlXEeuqubrbe8a57w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_X0AtAulXEeuqubrbe8a57w" points="[-11, -2, 95, 227]$[-11, -219, 95, 10]$[-84, -219, 22, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_X0DwUOlXEeuqubrbe8a57w" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_X0DwUelXEeuqubrbe8a57w" id="(0.8439716312056738,0.76)"/>
    </edges>
    <edges xmi:id="_feXJkOlXEeuqubrbe8a57w" type="Transition" element="_feV7cOlXEeuqubrbe8a57w" source="_za5l8OlWEeuqubrbe8a57w" target="_DFB2IOlPEeuqubrbe8a57w">
      <children xsi:type="notation:DecorationNode" xmi:id="_feXJlOlXEeuqubrbe8a57w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_feXJlelXEeuqubrbe8a57w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_feXJlulXEeuqubrbe8a57w" x="-19" y="18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_feXJkelXEeuqubrbe8a57w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_feXJk-lXEeuqubrbe8a57w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_feXJkulXEeuqubrbe8a57w" points="[0, 8, 293, -7]$[0, 53, 293, 38]$[-289, 53, 4, 38]$[-289, 19, 4, 4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lGB8sOlXEeuqubrbe8a57w" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_feZl0elXEeuqubrbe8a57w" id="(0.7322834645669292,0.92)"/>
    </edges>
    <edges xmi:id="_Q88bYOoDEeuQJp5MXxRsWA" type="Transition" element="_Q8yqYOoDEeuQJp5MXxRsWA" source="_DFB2IOlPEeuqubrbe8a57w" target="_VeRRgOoDEeuQJp5MXxRsWA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Q8-QkOoDEeuQJp5MXxRsWA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Q8-QkeoDEeuQJp5MXxRsWA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Q8-3oOoDEeuQJp5MXxRsWA" x="-20" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Q88bYeoDEeuQJp5MXxRsWA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Q89CcOoDEeuQJp5MXxRsWA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Q88bYuoDEeuQJp5MXxRsWA" points="[-63, 9, 119, -18]$[-201, 9, -19, -18]$[-201, 20, -19, -7]$[-189, 20, -7, -7]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_V8h60OoDEeuQJp5MXxRsWA" id="(0.9333333333333333,0.4)"/>
    </edges>
    <edges xmi:id="_XvzPQOoDEeuQJp5MXxRsWA" type="Transition" element="_XvxaEOoDEeuQJp5MXxRsWA" source="_VeRRgOoDEeuQJp5MXxRsWA" target="_DFB2IOlPEeuqubrbe8a57w">
      <children xsi:type="notation:DecorationNode" xmi:id="_Xvz2UeoDEeuQJp5MXxRsWA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Xv0dYOoDEeuQJp5MXxRsWA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Xv0dYeoDEeuQJp5MXxRsWA" x="-6" y="23"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XvzPQeoDEeuQJp5MXxRsWA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Xvz2UOoDEeuQJp5MXxRsWA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XvzPQuoDEeuQJp5MXxRsWA" points="[-2, -8, -178, -13]$[165, 11, -11, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Xv3gsOoDEeuQJp5MXxRsWA" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Xv3gseoDEeuQJp5MXxRsWA" id="(0.2283464566929134,0.88)"/>
    </edges>
    <edges xmi:id="_hk8IYOoDEeuQJp5MXxRsWA" type="Transition" element="_hk6TMOoDEeuQJp5MXxRsWA" source="_VeRRgOoDEeuQJp5MXxRsWA" target="_DFB2IOlPEeuqubrbe8a57w">
      <children xsi:type="notation:DecorationNode" xmi:id="_hk8vceoDEeuQJp5MXxRsWA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hk8vcuoDEeuQJp5MXxRsWA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hk8vc-oDEeuQJp5MXxRsWA" x="-7" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hk8IYeoDEeuQJp5MXxRsWA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hk8vcOoDEeuQJp5MXxRsWA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hk8IYuoDEeuQJp5MXxRsWA" points="[-8, -16, -263, -31]$[-8, -32, -263, -47]$[219, -32, -36, -47]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hk_ywOoDEeuQJp5MXxRsWA" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hk_yweoDEeuQJp5MXxRsWA" id="(0.28346456692913385,0.94)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
